<div class=" h-100 d-flex justify-content-center align-items-center">
    <form style="width: 400px; border: 1px solid #4286a3b2;  padding: 20px ;padding-left: 30px;padding-right: 30px; border-radius: 25px;">
        <h1>Sign Up</h1>
        <div class="form-group">
            <label for="firstName">
    First Name:</label>
            <input required type="text" placeholder="Your first name here" id="firstName" class="form-control">

        </div>

        <div class="form-group">
            <label for="lastName">
                Last Name:</label>
            <input required type="text" placeholder="Your last name here" id="lirstName" class="form-control">


        </div>

        <div class="form-group">
            <label for="Username">
    UserName:</label>

            <input required type="text" placeholder="A cool Username, Ex 'Silver ghost'" id="UserName" class="form-control">

        </div>
        <div class="form-group">
            <label for="password">
    Password:</label>
            <input required type="password" id="password" placeholder="This is a secret, share with no one" minlength="8" class="form-control">

        </div>
        <div class="form-group">
            <label for="DOB">
    Date of Birth:</label>
            <input required type="date" id="DOB" placeholder="dd-mm-yyyy" class="form-control">

        </div>
        <div class="form-group">
            <label for="Country">
    Country:</label>
            <input required type="text" placeholder="Your country here" id="Country" class="form-control">

        </div>
        <button class="btn btn-primary" style="margin-top: 10px;">Submit</button>
    </form>
</div>